#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%; /* makes the root div fill the width */
}

.todo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin: 20px;
  padding: 20px;
  border: 3px solid black;
  border-radius: 12px;
  
  width: 100%;
}

.todo-form {
  width: 100%;
}

.add-task-input {
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  background-color: lightgray;
}

.add-task-button {
  background-color: #0044ff;
  color: white;
  margin: 10px;
}

.todo-task-list {
  flex-grow: 1;
  overflow-y: auto;
  padding-right: 10px;
}

.todo-task-row {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  flex-shrink: 0;
}

.task-text {
  flex-grow: 1;
}

.remove-task-button {
  margin-left: auto;
  background: none; /* makes background invisible */
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: grey; /* makes the "x" text grey */
}

.edit-task-button {
  margin-left: auto;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: grey; /* makes the "x" text grey */
}

.input-row {
  display: flex;
  gap: 20px;
  width: 100%;
}

.deleted-task {
  color: grey;
}

.todo-checkbox {
  border-radius: 12px;
  accent-color: orange;
}


